.result {
    display: block;
}

.result.-hidden {
    display: none;
}

.result__image {
	height: 300px;
	margin-top: 30px;
	margin-bottom: 60px;
}

.result__restart {
	padding: 20px;
	margin-top: 30px;
}

.result__buttons {
	display: flex;
	justify-content: flex-start;
	align-items: center;
}

.div {
	height: 100%;
	margin-left: 40px;
	margin-top: 25px;
}