.result {
    display: block;
}

.result.-hidden {
    display: none;
}

.result__image {
	height: 300px;
	margin-top: 30px;
	margin-bottom: 60px;
}

.result__restart {
	padding: 20px;
	margin-top: 30px;
}