.start {
	display: block;
}

.start.-hidden {
	display: none;
}

.start__desc {
	text-align: center;
}

.start__buttonDiv {
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
}

.start__button {
	margin-top: 20px;
	padding: 50px 100px;
	font-size: 20px;
}